{{define "form/protocolSchema"}}
<a-form layout="inline" v-if="inModal.protocolSchema">
    <template v-for="field in inModal.protocolSchema.fields">
        <a-form-item v-if="isVisibleProtocolField(field)" :label="field.label">
            <a-input v-if="field.type === 'text' || field.type === 'uuid' || field.type === 'password'"
                     v-model.trim="protocolField(field).value"></a-input>
            <a-input v-else-if="field.type === 'number'" type="number"
                     v-model.number="protocolField(field).value"></a-input>
            <a-switch v-else-if="field.type === 'switch'"
                      v-model="protocolField(field).value"></a-switch>
            <a-select v-else-if="field.type === 'select'"
                      v-model="protocolField(field).value" style="width: 170px">
                <a-select-option v-for="option in field.options" :value="option.value">
                    [[ option.label ]]
                </a-select-option>
            </a-select>
        </a-form-item>
    </template>
</a-form>

{{end}}
