[Unit]
Description=定期运行 z-ui 端口保护同步

[Timer]
OnBootSec=20s
OnUnitActiveSec=30s
Persistent=true
Unit=zui-port-guard-sync.service

[Install]
WantedBy=timers.target
